.wrapper {
    height:100%;
    width:100%;
    text-align: center;
    background-color:floralwhite;
}
#tfheader{
    background-color:#c3dfef;
}
#tfnewsearch {
    float: left;
    width: 100%;
}
.tftextinput2{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size:14px;
    color:#666;
    border:1px solid #0076a3;
    border-right:0px;
    border-top-left-radius: 5px 5px;
    border-bottom-left-radius: 5px 5px;
    border-top-right-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
    float: left;
    width:80%;
}
.tfbutton2 {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size:14px;
    font-weight:bold;
    outline: none;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    border: solid 1px #0076a3; border-right:0px;;
    background: #0095cd;
    background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
    background: -moz-linear-gradient(top,  #00adee,  #0078a5);
    border-top-right-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
    border-top-left-radius: 5px 5px;
    border-bottom-left-radius: 5px 5px;
    width: 17%;
    float: none;
}
.tfbutton2:hover {
    text-decoration: none;
    background: #007ead;
    background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
    background: -moz-linear-gradient(top,  #0095cc,  #00678e);
}
.tfclear{
    clear:both;
}
.container{
    width: 100%;
    float: right;
}
.prospects{
    padding-top:1%;
    width:32%;
    height: 50%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size:14px;
    font-weight:bold;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    border: solid 1px #0076a3; border-right:0px;
    background: #0095cd;
    background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
    background: -moz-linear-gradient(top,  #00adee,  #0078a5);
    border-top-right-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
    border-top-left-radius: 5px 5px;
    border-bottom-left-radius: 5px 5px;
}
.prospects:hover {
    text-decoration: none;
    background: #007ead;
    background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
    background: -moz-linear-gradient(top, #0095cc, #00678e);
}
.prospects_header{
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
    font-size:24px; ;
}
.add_button{
    width: 10%;
    height: 10%;
    float: right;
    margin-top: 4%;
    margin-right: 4%;
}
.logout{
    margin-top: 4%;
    margin-left: 4%;
    width: 10%;
    height: 10%;
    float: left;
}
.prospects_logo{
    width: 60%;
    height: 10%;
    float: none;
}
.ui-panel {
    width:0% !important;
    min-height: 100%;
    max-height: none;
    border-width: 0;
    position: absolute;
    top: 0;
    display: block;
}


































